<div class="flex justify-between items-center mb-2">
  <h2 class="text-2xl font-semibold">Directions</h2>
</div>

<!-- Transportation Mode Selector -->
<div class="flex items-center space-x-2 mb-3">
  <div class="flex space-x-2 flex-grow">
    <button
      *ngFor="let transport of transportModes"
      class="px-3 py-2 rounded-md"
      [ngClass]="selectedMode === transport.mode ? 'bg-black' : 'bg-gray-200'"
      (click)="setMode(transport.mode)"
    >
      <span
        class="material-symbols-outlined"
        [ngClass]="selectedMode === transport.mode ? 'text-white' : 'text-black'"
        [style.color]="selectedMode === transport.mode ? 'white' : 'black'"
      >
        {{ transport.icon }}
      </span>
    </button>
  </div>

  <!-- End Button -->
  <button
    class="bg-red-600 text-white px-3 py-2 rounded-md hover:bg-red-700 transition ml-auto w-[48px] h-[45px] flex items-center justify-center"
    >
    End
  </button>
</div>

 <!-- Loading State -->
 <div *ngIf="isLoading" class="flex justify-center items-center mt-3">
  <span class="material-symbols-outlined animate-spin text-3xl">hourglass_empty</span>
  <span class="ml-2 text-lg text-gray-600">Loading directions...</span>
</div>

<!-- Navigation Instruction -->
<div *ngIf="!isLoading && steps.length > 0">
  <div class="flex items-center">
    <span class="material-symbols-outlined md-48">turn_left</span>
    <span class="ml-3 text-xl font-semibold">{{ steps[0].instructions }}</span>
  </div>
</div>

<!-- No Directions Available -->
<div *ngIf="!isLoading && steps.length === 0" class="text-gray-500 text-center mt-3">
  No directions available.
</div>
