google-signin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullwidth {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
}

.fullwidth .back-button {
    position: absolute;
    left: 5px;
    top: 0px;
}

.fullwidth .center-title {
    position: absolute;
    top: 0px;
}
