<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>My App</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="toggleView()">
          {{ showMap ? 'Show App' : 'Show Map' }}
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- If showMap is true, display the map container -->
    <ng-container *ngIf="showMap; else appContent">
      <div id="mapContainer" #mapContainer style="height: 100%; width: 100%;"></div>
    </ng-container>
    <!-- Otherwise, display the rest of your app via the router outlet -->
    <ng-template #appContent>
      <ion-router-outlet></ion-router-outlet>
    </ng-template>
  </ion-content>
</ion-app>
