<app-switch-map-button class="switch-map-container" [style.opacity]="1"></app-switch-map-button>

<div #footerContainer class="swipe-footer-container">
  <app-indoor-selects
    *ngIf="showIndoorSelects"
    [style.opacity]="1 - swipeProgress"
  ></app-indoor-selects>

  <div
    #swipeArea
    class="w-full h-[35px] cursor-pointer flex flex-col items-center justify-start my-[16px] mx-auto"
    (click)="handleClick()"
  >
    <div class="w-[120px] h-[10px] bg-[#d5d5d5] rounded-full mt-2"></div>
  </div>

  <div class="footer-content px-5">
    <ng-container *ngIf="showDirections$ | async; else showLocations">
      <h2 class="flex text-2xl font-bold text-gray-900 my-4">Directions</h2>
      <app-directions></app-directions>
    </ng-container>

    <ng-template #showLocations>
      <h2 class="flex text-2xl font-bold text-gray-900 mb-4">Buildings</h2>
      <app-location-cards
        [locations]="campusBuildings.locations"
        [loading]="campusBuildings.loading"
      ></app-location-cards>

      <h2 class="flex text-2xl font-bold text-gray-900 my-4">Points of Interest</h2>
      <app-location-cards
        [locations]="pointsOfInterest.locations"
        [loading]="pointsOfInterest.loading"
      ></app-location-cards>

      <div *ngIf="events.events.length > 0">
        <h2 class="flex text-2xl font-bold text-gray-900 my-4">Your Classes</h2>
        <app-event-card [events]="events.events" [loading]="events.loading"></app-event-card>
      </div>
    </ng-template>
  </div>
</div>
