<div
  class="rounded-3xl w-full flex text-black bg-white shadow-lg p-2 pb-3"
  [ngStyle]="{ 'height': isSearchVisible ? 'auto' : '48px' }"
>
  <div (click)="toggleSearch()" class="h-[32px] w-[32px] pt-1 rounded-full cursor-pointer">
    <span class="material-symbols-outlined pl-1">
      {{ isSearchVisible ? 'arrow_back' : 'search' }}
    </span>
  </div>

  <div
    [@slideInOut]="isSearchVisible ? 'in' : 'out'"
    [ngStyle]="{ 'height': isSearchVisible ? 'auto' : '0', 'overflow': isSearchVisible ? 'visible' : 'hidden' }"
  >
    <div class="pl-4">
      <div class="relative w-full mt-1">
        <input
        [(ngModel)]="startLocationInput"
        (input)="onSearchChange($event, 'start')"  
        (keyup.enter)="onSearchFromInput(startLocationInput, $event, 'start')" 
        type="text" 
        placeholder="Choose starting point..." 
        debounce="1000"
        class="w-full bg-white px-4 py-3 rounded-full border border-gray-300 focus:outline-none pr-10"
      />
      
      <div *ngIf="isSearchingFromStart" class="absolute w-full mt-1 z-10">
        <ion-list *ngIf="places?.length > 0">
          <ion-item *ngFor="let place of places" (click)="selectPlace(place,'start')">
            <ion-icon name="location-outline" slot="start"></ion-icon>
            <ion-label>
              {{ place?.title }}
              <p>
                <ion-text>
                  {{ place?.address }}
                </ion-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      
        <div 
          (click)="onSetUsersLocationAsStart()"
          class="absolute right-1.5 top-1/2 transform -translate-y-1/2 cursor-pointer bg-[#912338] p-2 rounded-full flex items-center justify-center"
        >
          <span class="material-symbols-outlined text-white">
            my_location
          </span>
        </div>
      </div>      
  
      <input
        [(ngModel)]="destinationLocationInput"
        (input) = "onSearchChange($event,'destination')"
        (keyup.enter)="onSearchFromInput(destinationLocationInput, $event,'destination')" 
        type="text" 
        placeholder="Choose destination point..." 
        class="mt-2 w-full bg-white px-4 py-3 rounded-full border border-gray-300 focus:outline-none pr-10"
      />
      <div *ngIf="!isSearchingFromStart" class="absolute w-full mt-1 z-10">
        <ion-list *ngIf="places?.length > 0">
          <ion-item *ngFor="let place of places" (click)="selectPlace(place, 'destination')">
            <ion-icon name="location-outline" slot="start"></ion-icon>
            <ion-label>
              {{ place?.title }}
              <p>
                <ion-text>
                  {{ place?.address }}
                </ion-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</div>