<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title *ngIf="user$ | async as userState" size="large">
        Welcome, {{ userState.user?.name }}
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="container">
    <google-map></google-map>
    <div id="search-bars-div">

      <div class="search-box">

        <div class="arrow-icon-button">
          <ion-button class="arrow-button" aria-label="Back" fill="clear" slot="start">
            <ion-icon name="arrow-back-outline" size="medium" color="medium"></ion-icon></ion-button>
        </div>
        <div class="search-bars-container">
              <ion-searchbar
                searchIcon="null"
                class="custom" 
                placeholder="Choose starting point" 
                show-clear-button="never" 
                (ionChange)="onSearchChangeStart($event)">
              </ion-searchbar>
        
            <ion-searchbar
              searchIcon="null"
              class="custom" 
              placeholder="Choose destination point" 
              show-clear-button="never" 
              (ionChange)="onSearchChangeDestination($event)">
            </ion-searchbar>
        </div>
      </div>
    </div>

    <!-- Uncomment these forms if needed for login/signup -->
    <!--
    <form (submit)="onLogin($event)">
      <input
        type="email"
        [(ngModel)]="email"
        placeholder="Email"
        name="email"
        required
      />
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Password"
        name="password"
        required
      />
      <button type="submit">Login</button>
    </form>
    -->

    <!--
    <form (submit)="onSignup($event)">
      <input
        type="email"
        [(ngModel)]="email"
        placeholder="Email"
        name="email"
        required
      />
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Password"
        name="password"
        required
      />
      <button type="submit">Sign Up</button>
    </form>
    -->

    <!-- <ion-button (click)="handleUserTest()">Test User</ion-button> -->
  </div>
</ion-content>
