<div class="absolute top-[24px] left-1/2 transform -translate-x-1/2 z-[999] flex space-x-4">
  <app-switch-campus-button></app-switch-campus-button>
  <app-map-search></app-map-search>
</div>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-button
      value="Always Show"
      (click)="onSearchChangeStartToCurrentLocation($event)">
      Set Start Location to Current Location
    </ion-button>
  </ion-toolbar>


  <div id="container">
    <app-google-map></app-google-map>
  </div>
</ion-content>
