.fullwidth {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
}

.fullwidth app-switch-campus-button {
  justify-content: center;
}

.fullwidth app-map-search {
  position: absolute;
  right: 0px;
  top: 0px;
}

//For mobile display only.
@media (any-pointer: coarse) {
 .moved-down {
   margin-top: 195px;
   margin-left: 75%;
 }
}