<div *ngIf="calendars.length > 0" class="w-full h-full max-w-md mx-auto p-4">
  <h3 class="text-lg font-semibold text-center mb-4">Selected a Calendar</h3>

  <ul class="space-y-2">
    <li
      *ngFor="let calendar of calendars"
      (click)="selectCalendar(calendar.id)"
      (keydown.enter)="selectCalendar(calendar.id)"
      class="flex items-center p-3 rounded-lg cursor-pointer"
      [class.bg-blue-100]="calendar.id === selectedCalendar"
    >
    <input
    type="radio"
    name="calendar"
    [checked]="calendar.id === selectedCalendar"
    (change)="selectCalendar(calendar.id)"
    [ngStyle]="{'background-color': (calendar.id === selectedCalendar) ? calendar.backgroundColor : 'transparent'}"
    class="appearance-none h-6 w-6 border border-gray-300 rounded-sm mr-2"
    />
      <span class="text-gray-700">{{ calendar.summary }}</span>
      <hr/>
    </li>
  </ul>
</div>
