<div class="flex flex-col items-start">
  <div class="flex gap-4 overflow-x-auto w-full">
    <div class="w-[224px] h-[186px] bg-white overflow-hidden shrink-0" *ngFor="let location of locations">
      <img [src]="location.image" class ="bg-gray-200 w-[224px] h-[130px] object-cover rounded-2xl" />
      <div class="mt-2">
        <h3 class="text-left text-lg font-bold text-gray-800">{{ location.name }}</h3>
        <p class="text-left text-sm text-gray-600 ">{{ location.address }}</p>
      </div>
    </div>
  </div>
</div>
